header {
    background-color: #faf0e6;
    border: 0.5px solid #756159
}

h1, h2 {
    font-family: 'Muli', sans-serif;
    color: black;
}

h1 {
    padding: 100px 30px;
    margin: 0;
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

body {
    font-family: Raleway;
    font-size: 1.2rem;
}

a:hover {
    color: grey;
    background-color: #f5f5f5;
}

footer {
    padding: 0.5rem 0;
    background-color: #282425;
    color: #ffffff;
    text-align: center;
}

section {
    padding: 10rem;
    background-color: #fff5ee;
    max-width: 80%
}

.projekt, .kontakty {
    background-color: #faf0e6;
    border: 0.5px solid #756158;
}

.omne, .kamdal {
    border: 0.5px solid #756159;
}

.foto-omne {
    width: 200px;
    float: left;
    margin-right: 50px;
    margin-bottom: 40px;
    border-radius: 50px;
    border: 2px solid #756158;
}

.foto-projekt {
    width: 400px;
    float: right;
    margin-left: 50px;
    margin-bottom: 10px;
    border: 2px solid #756158;
}

.clearfix {
    display: flow-root;
}

.navigace li {
    display: inline-block;
}

.navigace {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #282425;
    border-top: 1px solid #9c8175;
}

.navigace a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1em;
}

.navigace a:hover {
    background-color: #95a5a6;
}

.navigace a:focus {
    background-color: #95a5a6;
}